body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
/* font-family: 'Roboto Slab', serif; */
}

.header{
    background-image: url(images/header-pic.png);
    background-size: 1440px;
    height: 695px;
    
}
.gradient{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1),rgb(0, 0, 0, .7),rgb(0, 0, 0, .4),rgba(0, 0, 0, 0));
    background-size: 1440px;
    height: 695px;
    position: relative;
}

.text-area{
    position: absolute;
    color: white;
    width: 400px;
    padding: 160px;
   
}
.heading-1{
    font-size: 25px;
}
.btn-1{
    margin-top: 50px;
}
.btn-1 a{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 3px;
}

.text-area2{
    color: black;
    width: 400px;
    padding-top: 70px;
    padding-left: 120px;
   
}

.container-1{
    display: flex;
}

.video-area{
    padding-top: 110px;
    padding-left: 120px;

}

.container-2{
    display: flex;
    margin-left: 101px;
}

.img-1 img{
    height: 350px;
    width: 300px;
    padding-top: 70px;
    padding-left: 120px;
   
}

.heading-2 {
    font-size: 25px;
text-align: center;
}
.par-2 {
    text-align: center;
}

.box1{
    display: flex;
    width: 380px;
    height: 210px;
    background-color: antiquewhite;
    margin: 20px;
}
.box2{
    display: flex;
    width: 380px;
    height: 210px;
    background-color: antiquewhite;
    margin: 20px;
}
.box3{
    display: flex;
    width: 380px;
    height: 210px;
    background-color: antiquewhite;
    margin: 20px;
}
.box4{
    display: flex;
    width: 380px;
    height: 210px;
    background-color: antiquewhite;
    margin: 20px;
}
.text-area4{
    width: 240px;
    padding-left: 25px;
}
.icon-1 img{
    padding-left: 20px;
    padding-top: 25px;
}
.content-line1{
    display: flex;
    margin-left: 260px;
}
.content-line2{
    display: flex;
    margin-left: 260px;
}
.container-3{
    margin-top: 130px;
}
.img-gallery{
    display: flex;
    margin-left: 90px;
    margin-top: 80px;
}
.img-2 , .img-3 , .img-4{
    margin-left: 20px;
}